.table-first-tr {
  position: relative;
}
.table-first-tr::after {
  content: "";
  position: absolute;
  left: 23.6rem;
  width: 2px;
  height: 9rem;
  background-color: black;
  opacity: .5;
}

.scratch-list {
  position: relative;
}
.scratch-list li {
  margin-bottom: .7rem;
}
.scratch-list__li-6 {
  position: absolute;
  right: 2rem;
  bottom: 6rem;
}
.scratch-list__li-7 {
  position: absolute;
  right: 2.4rem;
  bottom: 3rem;
}
.scratch-list__li-8 {
  position: absolute;
  right: 0rem;
  bottom: .1rem;
}