.t-1 {
  background-color: black;
  color: white;
}

.ol li {
  margin-bottom: 1rem;
}
.ol li:last-child {margin-bottom: 0;}

.code {
  font-family: monospace;
  background-color: rgb(213, 213, 213);
  padding-left: 2px;
  padding-right: 2px;
}

/* Text from vue-book */
.gray {
  color: gray;
}
.red {
  color: red;
}

.crossed {
  text-decoration: line-through;
}
.underlined {
  text-decoration: underline;
}
.technical {
  font-family: monospace;
}
.semi-transparent {
  opacity: .3;
}

.table-first-tr {
  position: relative;
}
.table-first-tr::after {
  content: "";
  position: absolute;
  left: 22.1rem;
  width: 2px;
  height: 9rem;
  background-color: black;
  opacity: .5;
}

.scratch-list li {
  margin-bottom: .7rem;
}