<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/main.js" defer></script>
  <title>Document</title>
</head>
<body>

<main class="main cont">
  <!-- TODO: use some lib for russian cases -->
  <!-- <p><a href="https://k1berkod.by">Сайт кибер-кода</a></p> -->


  <p>Меня зовут <b>Алексей Владимирович</b>. Я — ваш учитель.</p>
  <p>Также со мной работает <b>Александр</b> — ассистент.</p>
  <p>Если у вас возник вопрос, обращайтесь ко мне или к Александру с поднятой рукой.</p>
  <p>Ко мне обращаться: либо <b>Алексей Владимирович</b>, либо <b>учитель</b>.</p>

  <br><br><br><br><br><br><br><br><br>

  <p><b>Кибероны</b> — внутренняя валюта нашей школы, за которую можно получить призы.</p>
  <p>Например:</p>
  <iframe class="iframe cont" width="1150" height="850" src="https://kiberkod.by/"></iframe>
  <p>Ассортимент можно посмотреть на сайте <span style="font-size: 2rem; border-bottom: 2px solid red;">kiberkod.by</span>.</p>
  <p>Вы получаете <span class="underlined"><b>10 киберонов</b> просто за посещение</span> урока.</p>

  <br><br><br><br><br><br><br><br><br>

  <p>На моих уроках вы должны соблюдать <b>дисциплину</b>.</p>
  <p>Когда я объясняю, <b class="underlined">запрещается</b>:</p>
  <ul>
    <li><b>шуметь</b>: разговаривать, разговаривать с соседом, <span class="underlined">нажимать на клавиатуру; клацать мышкой</span>;</li>
    <li><b>перебивать</b> меня;</li>
    <li><b>отвлекать</b> класс, соседа;</li>
  </ul>
  <p>Вообще во время урока <b class="underlined">запрещается</b>:</p>
  <ul>
    <li><b>играть</b> за компьютером;</li>
    <li><b>крутиться</b> на стуле;</li>
    <li style="border-bottom: 2px solid red; width: max-content;"><b>монитор</b> трогать пальцами, крутить и показывать соседу</li>
  </ul>
  <p>За нарушение дисциплины я буду <span class="underlined">назначать штрафы</span>.</p>
  <p>За злостные (тяжёлые) нарушения дисциплины вы будете <span class="underlined">изгнаны из школы</span>.</p>

  <br><br><br><br><br><br><br><br><br>

  <p>Чтобы что-то сказать, вам нужно:</p>
  <ol>
    <li>Поднять руку</li>
    <li>Получить моё разрешение на ответ</li>
    <li>Говорить</li>
  </ol>
  <!-- <p>Когда я говорю: <b>"Можно не поднимать руку"</b> или <b>"Отвечаем с места"</b>, можно отвечать с места сидя и не поднимая руку.</p> -->
  <p>Когда мы делаем самостоятельные задания, <span class="underlined">можно шуметь</span>: общаться, но не кричать.</p>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <p><b>Алгоритм</b> — пошаговая последовательная инструкция для решения задачи.</p>
  <!-- <p><b>Нейронная сеть</b> — программа – искусственный мозг, которая умеет учиться на примерах, чтобы решать задачи.</p> -->
  <!-- <p><b>Важно:</b> нейросеть может ошибаться или <span class="underlined">врать</span>. Поэтому, если нам нужен точный/истинный результат, обязательно проверять информацию самим.</p> -->

  <br>

  <!-- <p><b>Фича</b> (англ. feature) — функционал/возможность работы проекта, благодаря которому можно что-то сделать/достичь.</p> -->
  <!-- <p><b>Рефакторинг</b> (англ. refactoring) — улучшение структуры кода без изменения внешнего поведения программы. <br> Проще говоря, приведение кода в порядок.</p> -->

  <br>

  <!-- <p><b>Архитектура</b> — внутреннее устройство программы. Создаётся решениями программиста. Свойства: простота, логичность, масштабируемость.</p> -->
  <!-- <p><b>Переменная</b> — ячейка в памяти компьютера, предназначенная для хранения данных.</p> -->
  <p><b>Команда</b> — то, что должен выполнить компьютер.</p>
  <p><b>Программа</b> — команды, записанные на формальном языке (язык программирования / <span class="underlined">среда визуального программирования</span>), которые выполняет компьютер.</p>
  <p><b>Функция</b> (подпрограмма) — набор команд, объединённых в одну команду.</p>
  <!-- <p><b>Итерация</b> (повтор) — повторение команды (программы).</p> -->

  <!-- <p><b>Скрипт</b> — связанные блоки в Scratch.</p> -->

  <!-- <p><b>Компонент</b> — составная часть системы.</p> -->
  <!-- <p><b>Структура данных</b> — способ организации и хранения данных для эффективного выполнения операций над ними.</p> -->
  <!-- <p><b>Список</b> — упорядоченная коллекция элементов, где каждый элемент имеет свой индекс (позицию).</p> -->
  <!-- <p><b>Массив</b> — это упорядоченная коллекция элементов, размещённых последовательно.</p> -->
  <!-- <p><b>Объект (хеш-таблица)</b> — структура данных, которая хранит пары "ключ-значение" и обеспечивает быстрый доступ к данным.</p> -->

  <br><br><br><br><br><br><br><br><br><br><br><br>
</main>

</body>
</html>