<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/main.js" defer></script>
  <title>Scratch</title>
  <style>
    .meet-list li {
      margin-bottom: 1rem;
    }
  </style>
</head>
<body>

<main class="main cont">
  <h1 style="margin-top: 0;">Понятия</h1>
  <p><b>Overworked</b> ("переработанный") — человек, работающий сверх здоровой нормы.</p>
  <p><b>Халтура</b> — некачественная работа. <span style="font-weight: bold; text-transform: uppercase; text-decoration: underline;">Симптом проблем внутри организации</span>.</p>

  <br>

  <h1>На повестке дня</h1>
  <ol class="meet-list">
    <li>
      <b style="font-size: 1.45em;"><span style="text-decoration: underline;">Главные корневые</span> вопросы</b>
      <ul style="list-style-type: square;">
        <li>
          <b>Overworked</b> → Нужен новый препод/ассистент<br>
          <span style="border: 1px solid red;"><b>Решение:</b> Саша возьмёт вместо меня Понедельник + подумать, как ещё Алексея разгрузить</span>
        </li>
      </ul>
    </li>
    <li>
      Второстепенные вопросы
      <ul style="list-style-type: square;">
        <li>
          <b>Методичка - сырое постное дерьмо</b>
          <!-- <span style="border: 1px solid red;"><b>Решение:</b> йцуй</span> -->
        </li>
        <li>
          <b>Дверь:</b>
          <span style="border: 1px solid red;"><b>Решение:</b> ассистенты должны проворачивать замок двери на занятии</span>
        </li>
        <li>
          <b>Перебитие меня на уроке:</b>
          <span style="border: 1px solid red;"><b>Решение:</b> тьютора не перебивают, детей не отвлекают. Обратная связь - после занятия</span>
        </li>
        <li>
          <b>Алёна:</b>
          <span style="border: 1px solid red;"><b>Решение:</b> меня с ней в занятие не ставить</span>
        </li>
      </ul>
    </li>
    <li>Заслуги</li>
  </ol>
</main>

</body>
</html>