<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/main.js" defer></script>
  <title>Document</title>
</head>
<body>
  <main class="main cont">
    <!-- <div>Какой-то текст N2</div> -->
    <!-- <p style="background-color: red; color: white;"><span>Текст в одну строчку N1</span> <span>Текст в одну строчку N2</span></p> -->

    <!-- <p><b>Кибербезопасность</b> — это защита компьютерных систем, сетей и данных от кибератак и несанкционированного доступа.</p>
    <p>Какой-то текст</p>
    <p><a href="https://k1berkod.by">Сайт кибер-кода</a></p> -->


    <!-- <h3>Ограничения своей презентации:</h3>
    <ul>
      <li>Выбираем тему, которую не стыдно показать родителям</li>
      <li>Обращаем внимание на смысл текста</li>
      <li>Обращаем внимание на красоту дизайна</li>
    </ul> -->

    <!-- <p>Принцип <b>уважения</b>:</p>
    <ul>
      <li>к учёбе</li>
      <li>друг к другу</li>
    </ul> -->

    <p>Пройденные нами темы:</p>
    <ul>
      <li>Word</li>
      <li>Нейросети</li>
      <li>Kodu Game Lab</li>
      <li>PowerPoint и поиск информации в интернете</li>
    </ul>
    
    <!-- <p>Что вы должны сделать:</p>
    <ol>
      <li>Придумать идею для своего самостоятельного проекта</li>
      <li>Реализовывать его и запоминать свой ход мыслей</li>
    </ol> -->
  </main>
</body>